.field-item {
  height: 116px;
  line-height: 116px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  // margin-left: 30px;
}

.field-label {
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
  display: flex;
  flex: 3;

  .text {
    &.required {
      position: relative;

      &::after {
        position: absolute;
        content: '*';
        right: -20px;
        top: -10px;
        color: red;
      }
    }
  }
}

.field-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  flex: 9;

  .field-icon {
    margin-left: 30px;
    width: 26px;
    height: 30px;
  }
}

.field-error {
  height: 30px;
  font-size: 22px;
  color: #ff5f00;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.disable-text {
  font-weight: 400;
  color: #999999;
  line-height: 42px;
  text-align: right;
}

.placeholder-text {
  font-weight: 400;
  color: #bbb;
  line-height: 42px;
  font-size: 26px;
  text-align: right;
}
